.header {
  background-color: #fff;

  &__container {
    display: flex;
  }
}

  &__logo {
    margin-right: 606px;
  }

.main-nav {

  &__list {
    @include clear-list;

    display: flex;
  }

  a {
    padding: 15px;
  }
}











/*.main-nav {
  background-color:#fff;
  color: #000;

  &__burger {
    @include clear-button;

    margin-left:auto;

    @media (min-width:767px){
      display: none;
    }

    img {
      width: 16px;
      height: 11px;
      display: block;
    }
  }

  &__close {
    @include clear-button;
    display: none;

    &--showed {
      display: block;
    }

    img {
      width: 12px;
      height: 12px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between; //!
    align-items: center;
    padding-top: 15px;

    @media (min-width: 768px){
      padding-top: 21px;
    }
    @media (min-width: 1728px){
      padding-top: 77px;
    }
  }

  &__logo {
    img {
      display: block;
      width: 74;
      height: 25;
    }
    @media (min-width:768px){
      margin-right: 140px;
      width: 94;
      height: 32;
    }
    @media (min-width:1728px){
      margin-right: 363px;
    }
  }

  &__list {
    @include clear-list;

    display: flex;
    margin-right: 120px;
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;

    @media (max-width:767px){
      display: none;
      }

    @media (max-width:1728px){
      margin-right: 606px;
      font-size: 24px;
      line-height: 37px;
      }

    &--showed {
      display: block;
    }

  }

  &__item {
    padding: 10px 13px;

    @media (min-width:1728px) {
      padding: 10px 18px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-left: auto;

    @media (min-width:768px) {
      gap: 44px;
    }
  }

  &__button {
    @include clear-button;

    img {
      width: 19px;
      height: 17px;
      @media (min-width:768px) {
        img {
          width: 29px;
          height: 27px;
        }
    }
    }
  }
} */



